body{
    background-image: url("/img/otrocuadro.JPG");
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-position-x: 340px;
    background-size: 700px;
    background-color: #C2E0FF;
 }