*{
    margin: 0;
}
body{
   background-color: #C2E0FF;
   margin-top: 200px;
   position:static;
}
@font-face {
    font-family: Creamy;
    src: url(/fonts/Creamy.ttf);
    font-weight: bold;
}
@font-face {
    font-family: coffe;
    src: url(/fonts/Cafe\ Francoise_D.ttf);
    font-weight: bold;
}
.menu{
    background: linear-gradient(to right,#2a5153, #38b3b3);
    width: 1345px;
    height: 100px;
    margin: auto;
    text-align: center;
    top: 0;
    font-family: coffe;
    font-size: 25px;
    position: fixed;
    z-index: 1;
}
.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 100px;
    line-height: 90px;
}
.menu a:hover{
    transform: scale(0.8);
    transition: 0.5s;
    opacity: 0.7;
}
.logo{

 width: 210px;
 margin-left: 1px;
 float: left;
 margin-top: 10px;
}
.ierh{
    height: 100px;
    float: right;
}

.ingresar{
    font-family: coffe;
    font-size: 50px;
    color: #FFB673;
    display:block;
    display:inline-block ;
    margin-left: 450px;
}
.formu{
    border-color: #ffffff;
    box-shadow: 0 2px 3px rgb(0, 0, 0/0.15);
    width: 350px;
    height: 25px;
    background-color: #FFB673;
    text-align: center;
    margin-left: 340px;
}


.cuadro{
    height: 450px;
}

.continuar{
    position: absolute;
    margin-left: 380px;
    margin-top: 160px;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #2a5153;
    padding-top: 20px;
    margin-top: 200px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #38b3b3;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    transform: scale(0.9);
}
.pie-pagina .grupo-2{
    background-color: #38b3b3;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.tabla{
    font-family: coffe;
    font-size: 20px;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 250px;
    margin-top: 0px;

}
.contenedor a{
    text-decoration: none;
    color: #FFB673;
}

.cuadroregistro{
    position: absolute;
    top: 10%;
    right: 50%;

}
.cuadroregistro h1{
    margin-top: 25px;
}
.form{
    text-align: center;
    margin-top: 10px;
}
.formu{
    text-align: center;
}
.p{
    margin-left: 390px;
    margin-top: 160px;
    font-family: creamy;
    font-size: 17px;
}
.boton{
    position: absolute;
    margin-left: 790px;
    cursor: pointer;
    margin-top: 20px;
    height: 340px;
}

.boton:hover{
    border-radius: 2500px;
    background: linear-gradient(to right, #FFEFB3, #FFEFB3);
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgb(206, 156, 255);
}
.continuar{
    width: 70px;
    left: 82%;
    top: 94%;
    position: absolute;
}

.formu{
border-color: #ffffff;
box-shadow: 0 2px 3px rgb(0, 0, 0/0.15);
width: 350px;
height: 25px;
background-color: #FFB673;
position: absolute;
margin-top: 80px;
left: 1%;
top: 40%;
right: 0%;
}

.form{
    border-color: #ffffff;
    box-shadow: 0 2px 3px rgb(0, 0, 0/0.15);
    width: 350px;
    height: 25px;
    background-color: #FFB673;
    position: absolute;
    margin-top: 115px;
    left: 57%;
    top: 52%;
    }

.tabla{
    font-family: coffe;
    font-size: 20px;
    margin-top: 100px;
    color: #130453;
}
.fo{
    position: absolute;
    top: 310px;
    right: 150px;
    width: 350px;
    height: 25px;
    background-color: #FFB673;
    border-radius: 10px;
    border-color: #FFB673;
}
.for{
    border-color: #ffffff;
    box-shadow: 0 2px 3px rgb(0, 0, 0/0.15);
    width: 350px;
    height: 25px;
    background-color: #FFB673;
    position: absolute;
    margin-top: 152px;
    left: 57%;
    top: 69%;
    }

tr{
    background-color: #38b3b3;
    color: #efefef;
    font-weight: bold;
}
